body {

}
.nav-menu {
	padding-right: 0px !important;
	
}

.nav-menu a {
	color: #000 !important;
	font-weight: bold;
}

.nav-menu .active {
	background : rgba(123, 192, 69, 0.72);
	
}

.nav-menu .active a {
	color: #fff !important;
}

.nav-menu li:hover a {
	color: #fff !important;
}

.nav-menu li:hover {
	background : rgba(123, 192, 69, 0.72);
}

.container a >  img {
	height: 58px;
} 

.navbar {
	background-color: #f9f9f9 !important;
}


/************* Content *****************/

.page-content {
	padding-top: 100px;
}

.col-md-4 {
	margin: 0 !important;
}

.info-card {
	margin-top:0px !important;
}

.header-f {
	background-color: rgba(123, 192, 69, 0.72);
	color: #fff !important;
}

.body-f {
	text-align: center;
}

.card-brand {
	text-align: center;
	margin-bottom: 10px;
}

.slider-img {
	height: 300px !important;
}

.slider-apps{
	height: 300px !important;
}

.slider-title { 
	text-decoration: none;
	color: #fff;
 }

 .slider-title:hover {
 	text-decoration: none;
	color: #fff;
 }

 .slider-title h3 {
   font-size: 24px !important;

 }

.navbar-toggler {
	background-color: rgba(0, 0, 0, 0.3);
}


/******** Social Medi *********/

.fa-facebook {
	background: #3B5998 !important;
	border-radius: 100% 100%;

}
.fa-facebook:hover {
	border-radius: 100% 100%;
	color: white !important;
    opacity: 0.8 !important;
}

.fa-twitter {
	background: #55ACEE; !important;
	border-radius: 100% 100%;

}
.fa-twitter:hover {
	border-radius: 100% 100%;
	color: white !important;
    opacity: 0.8 !important;
}

.fa-youtube {
	background: #bb0000; !important;
	border-radius: 100% 100%;

}
.fa-youtube:hover {
	border-radius: 100% 100%;
	color: white !important;
    opacity: 0.8 !important;
}

.fa-instagram {
	background: #125688; !important;
	border-radius: 100% 100%;

}
.fa-instagram:hover {
	border-radius: 100% 100%;
	color: white !important;
    opacity: 0.8 !important;
}

.fa-behance {
	background: #1769ff !important;
	border-radius: 100% 100%;

}
.fa-behance:hover {
	border-radius: 100% 100%;
	color: white !important;
    opacity: 0.8 !important;
}

.fa-play {
	background: #dd4b39 !important;
	border-radius: 100% 100%;

}
.fa-play:hover {
	border-radius: 100% 100%;
	color: white !important;
    opacity: 0.8 !important;
}



/********* POST PAGE  *******/

.main-container {
	margin-top: 20px !important;
}

.visitor-img {
	border: 1px solid rgba(204, 204, 204, 0.66) !important;
}


/*********** 404 Page *************/

#title404 {
    color: crimson;
    font-size: 60px;
    font-family: 'DroidArabicKufiRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0px auto;
    text-align: center;
    padding-top: 200px;
    font-size: 60px;

}


.content404 {
	font-size: 30px;
    line-height: 45px;
    font-family: 'DroidArabicKufiRegular';
    font-weight: 900;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    color:rgba(123, 192, 69, 0.72);

    margin-bottom: 40px;
}




.carousel-item h3 {
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.37);
  
}



.carousel-item p {
   color: white; 
   font: bold 15px/25px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.37);
  
}


.carousel-caption {
	top: 0 !important;

}

.carousel-caption-para {
	position: absolute;
    right: 10%;
    bottom: 20px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
	bottom: 0 !important;
}


.dinixeSection{
	
    width: 145px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 20px!important;
    background: #7cbf45;
    float: left;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 8px;
}

.sectionTitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #050708;
    padding-left: 0;

    }


.sectionTitle span:after {
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    height: 2px;
    top: 89px;
    right: 6px;
    background: #7cbf45;
}

.sectionTitle span::after {
    left: 6px;
    right: 0;
}

.sectionVision {
	margin-top: 40px;
}


.news-detaile {
    background: #fff;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
custom.css:713
.news-page {
    min-height: 73vh;
}

.con1 .overllay {
    background: rgba(0,0,0 ,.5);
    height: 100%;
    color: #fff;
}

.con1 .tit3 {
    height: 330px;
    display: table-cell;
    vertical-align: middle;
}

.social-list {
    text-align: left;
}

.incontact {
    margin-top: 50px;
}

.list-inline {
    padding-right: 0;
    padding-left: initial;
    margin-right: -5px;
    margin-left: 0;
}
.list-inline {
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.social-list ul li a {
    color: #fff;
    font-size: 25px;
    line-height: 32px;
    padding-right: 15px;
}

.incontact .fa-twitter {
    background: #43bcee;
}


.text-right {
    text-align: right;
}

.contact-us input, .contact-us textarea  {
    font: inherit;
    font-size: 0.8em;
    margin: 28px 25px 10px;
    width: 80%;
    display: block;
    border: none;
    padding: 20px 0 10px;
    border-bottom: solid 1px #7b7a7a;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #7b7a7a 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #7b7a7a 4%);
    background-position: -80vw 0;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    resize: none;
    overflow: hidden;
}

.contact-us button , .btn-sub {
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    border: none;
    background: #89c540;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 195px;
    float: none !important;
    color: white;
    margin: 30px 0 0 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.threeF {
    min-height: 45px;
    line-height: 40px;
    padding: 0 15px!important;
    background: #fff;
    font-size: 20px;
    color: #050708;
}

.con1 .tit3 h1 {
    background: #7cbf45;
    font-size: 30px;
    padding-top: 10px;
    width: 10%;
        line-height: 2;
}

.button-sub {
	margin: 0 auto;
}

.container-login {
    background-color: #fff;
    text-align: center;
    border-radius: 10px 10px 10px 10px ;
}

.img-header {
    margin-top: 30px;
    width: 40%;
}

#body-loign {
    background-color: #89c540;
}

.login-title {
    width: 100%;
    text-align: center;
    font-family: 'DroidArabicKufiRegular';
    font-weight: bold;
    font-style: bold;
    margin-top: 4%;
    font-size: 150%;
}

.button-sub {
    margin-bottom: 25px;
}

th {
    text-align: right;
}

.container-dashboard {
    text-align: right;
}


.container-dashboard > a {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-sub{
    margin-bottom: 25px;
}

#container-header-form {
    width: 100%;
    text-align: left;
    padding-top: 25px;
}

#header-btn {
    position: relative;
    height: 60px;
    padding-top: 10px;
}

#header-btn-out {
    position: absolute;
    left: 0;
}

#header-btn-in {
    position: absolute;
    right: 0;
}

.card-text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}